.message-container {
    display: flex;
    flex-direction: column;
    height: 80%;
    flex-grow: 1;
}

.message-input-container {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.message-input {
    width: 80%;
    height: 3rem;
    text-wrap: wrap;
    outline: none;
    border: none;
    border-bottom: 2px solid #011638;
    padding-left: 0.5rem;
}

.message-input:focus {
    border-bottom: 2px solid #ECA400;
}

.message-btn {
    height: 3rem;
    border: none;
    background-color: #011638;
    color: #E8E9EB;
}

.message-btn:hover {
    background-color: #ECA400;
}

.message-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    overflow-y: scroll;
}

.message-header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.5rem 1rem #E8E9EB;
}

.receiver-msg, .sender-msg {
    list-style: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 40%;
    line-height: 1.5rem;
    transition: 0.3s ease-in;
}

.receiver-msg {
    background-color: #6a706e62;
    width: fit-content;
    color: #011638;
}

.sender-msg {
    background-color:#0496FF;
    align-self: flex-end;
    width: fit-content;
    color: #E8E9EB;
}

.user-list {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 100%;
    margin-top: 0.25rem;
    width: 100%;
    gap: 0.25rem;
}

.user-list-item {
    padding: 0.5rem 0.5rem;
    border-radius: 0.25rem;
    background-color: #ECA400;
    color: #011638;

}

.user-list-item:hover {
    background-color: #011638;
    color:  #E8E9EB
}

.user-list-container {
    width: 100%;
    max-height: 40%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.5rem 0rem;
}

.create-channel-form {
    padding: none;
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.channel-list-header, .user-list-header {
    margin: 1rem 0 0.5rem 0;
}

.message-header {
    font-weight: 700;
    font-size: 2rem;
    color: #011638;
    background-color: #ffffff;
    padding: 1rem 0.5rem;
    border-radius: 0.5rem;
}

.sender-uid {
    align-self: flex-end;
    width: fit-content;
    color: #011638;
}

.receiver-uid {
    width: fit-content;
    color: #011638;
}

.receiver-uid, .sender-uid {
    font-size: 0.75rem;
    font-weight: 600;
    margin: 1rem 0 0.25rem 0;
}

.sender-date {
    align-self: flex-end;
    width: fit-content;
    color: #011638;
}

.receiver-date {
    width: fit-content;
    color: #011638;
}

.receiver-date, .sender-date {
    font-size: 0.75rem;
    margin: 0.25rem  0 0.25rem 0;
}

.message-bubble {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.search-input {
    padding: 0.5rem 1rem;
    font-weight: 600;
    font-size: 1rem;;
}

.channel-name-input {
    padding: 0.25rem 0.5rem;
    font-weight: 400;
    font-size: 1rem;
    width: 70%;
}




