.message-container {
    display: flex;
    flex-direction: column;
    height: 80%;
    flex-grow: 1;
}

.message-input-container {
    height: 10%;
}

.message-input {
    width: 80%;
    min-height: 1rem;
    padding: 0.5rem 1rem;
    text-wrap: wrap;
}

.message-btn {
    height: 2.25rem;
    padding: none;
}

.message-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 0.5rem;
    overflow-y: scroll;
}

.message-header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.receiver-msg, .sender-msg {
    list-style: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.receiver-msg {
    background-color: #A3BAC3;
    width: fit-content;
}

.sender-msg {
    background-color:#01A7C2;
    align-self: flex-end;
    width: fit-content;
}

.search-input {
    align-self: center;
    width: auto !important;
}

.search-user {
    align-self: center;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.search-container {
    padding: none;
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}